* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

/* Header Styles */
header {
    background-color: #f5f5f5;
    color: #000000;
    padding: 10px 20px;
    height: 70px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-icons {
    display: flex;
    align-items: center;
    padding-top: 15px;
}

.nav-icons .user {
    padding-left: 1100px;
}

/* Flex Container */
.flex-page {
    display: flex;
}

/* Sidebar Styles */
.sidebar {
    width: 250px;
    background-color: #f8f9fa;
    padding: 20px;
    padding-left: 0;
}

/* Main Content Styles */
main {
    flex: 1;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-bar input[type="text"] {
    padding: 10px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-bar select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 10px;
}
thead{
    background-color: #ddd;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ccc;
}

th {
    /* background-color: #ddd; */
}

img {
    margin-left: 10px;
}

/* Button Styles */
button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #000000;
    color: #fff;
    transition: background-color 0.3s ease;
}

button:hover {
    text-decoration: underline;
    transition: 0.3s all ease;
}

.add-btn {
    text-align: right;
    margin-top: 40px;
}

.add-product {
    margin-top: 20px;
    padding: 15px 30px;
    background-color: #000000;
}

.add-product a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

td button a {
    color: black;
    text-decoration: none;
}

.delete-btn a:hover {
    color: red;
}

.delete-btn:hover {
    color: red;
}

/* Responsive Styles */
@media only screen and (max-width: 768px) {
    .nav-icons .user {
        padding-left: 10px; /* Adjust spacing for smaller screens */
    }
    .search-bar {
        flex-direction: column;
    }
    .search-bar input[type="text"], .search-bar select {
        margin-bottom: 10px;
        width: 100%;
    }
}
