@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #f7f7f7; /* Off-white background */
}

.navbar {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-right {
    display: flex;
    align-items: center;
}

.sidebar {
    width: 200px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-left: 0;
  }
  
.flex-page{
    display: flex;
}
.menu {
    display: flex;
    align-items: center;
    cursor: pointer;
    
}

.main-container{
    width: 100%;
}

.menu-icon {
    font-size: 20px;
    margin-right: 10px;
}

.menu span {
    font-size: 16px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.profile span {
    font-size: 18px;
}

.dropbtn {
    background-color: transparent;
    color: #333;
    font-size: 18px;
    border: none;
    cursor: pointer;
    position: relative;
}

.arrow {
    position: right;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    opacity: 0.5;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #ccc;
}

.main-container {
    display: flex;
}

.sidebar {
width: 300 px;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.inner-box {
    background-color: #fff; /* White background */
    border-radius: 8px; /* Add some border radius for a softer look */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    padding: 30px;
}

h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.container {
    padding: 20px;
}

.section {
    margin-bottom: 20px;
}

.section h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.grey-text {
    color: #999;
}

.upload-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.input-box {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.input-box input {
    width: 100%;
    border: none;
    outline: none;
}

.description-box {
    width: 100%;
    height: 150px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}


.form-container {
    background-color: #fff; /* White background */
    border-radius: 1px; /* Add some border radius for a softer look */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    padding: 10px;
    margin-right: 300px; /* Add margin to align towards left of the padding */
    border: 1px solid grey; /* Black border */
}

.pricing-container {
    margin-top: 40px; /* Add margin to separate from the product information form */
}

.pricing-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.pricing-container .form-container {
    background-color: #fff; /* White background */
    border-radius: 2px; /* Add some border radius for a softer look */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    padding: 20px;
    border: 1px solid grey;
}

.pricing-container .section {
    margin-bottom: 20px;
}

.pricing-container .section h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.pricing-container .input-box {
    border: 1px solid #ccc;
    padding: 10px;
}

.pricing-container select, .pricing-container input[type="text"] {
    width: calc(100% - 22px); /* Adjusted width to account for padding and border */
    border: none;
    outline: none;
}

.pricing-container select {
    background-color: #fff; /* Ensure select element has white background */
    padding: 8px;
}

.add-product-button {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px; /* Add some space between the button and the pricing box */
    margin-bottom: 20px;
    margin-left: 20px;
}