@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: white;
}

.contact-us {
    padding: 0.5px 0;
    background-color: black;
    color: white;
    text-align: center;
}

.contact-heading {
    padding: 10px;
}

.contact-heading h2 {
    font-size: 36px;
}

.form-container h2{
    font-size: 30px;
}

.container {
    display:flex;
    justify-content: space-around;
    align-items:center;
    width: 80%;
    max-width: 1200px;
    overflow: hidden;
    padding: 40px;
    background-color: white;
    margin-left: 120px;
}

.form-container {
    flex: 1;
    padding-right: 20px; 
}

.image-container {
    flex: 1;
    display: flex;
    align-items: center;
}

.image-container img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    object-fit: contain; 
    margin-left: 100px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%; /* Set all input fields to the same width */
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    background-color: lightgray;
    font-weight: normal;
}

.form-group-inline .form-group {
    flex: 1;
    margin-right: 10px; /* Adjusted margin to ensure inputs are aligned and space is consistent */
}

textarea {
    resize: vertical; /* Allow resizing only vertically */
}
textarea { 
    resize: vertical; 
}

.button-container {
    display: flex;
    align-items: center;
    margin-top: 20px; 
}

button {
    padding: 10px 24px; /* Reduced padding */
    font-size: 14px; /* Smaller font size */
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 0;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: black; /* No change on hover, keeping the same background color */
}