@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.contact-us {
    padding: 0.5px 0;
    background-color: black;
    color: white;
    text-align: center;
}

.contact-heading {
    padding: 10px;
}

.contact-heading h2 {
    font-size: 36px;
    margin-bottom: 20px;
}


.container {
    display:flex;
    justify-content: space-around;
    align-items:center;
    width: 80%;
    max-width: 1200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 40px;
    background-color: white;
    margin-left: 120px;
}

.form-container {
    flex: 1;
    padding-right: 20px; 
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.image-container img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    width: auto;
    object-fit: contain; 
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group-inline {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px; 
}

.form-group-inline .form-group {
    flex: 1;
    margin-right: 10px;
}

input[type="text"],
input[type="email"],
textarea {
    width: 80%;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 0; 
    background-color: lightgray;
    font-weight: normal;
}

textarea {
    width: 90%; 
    resize: vertical; 
}

.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px; 
}

button {
    padding: 12px 20px;
    font-size: 16px;
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 0; 
    cursor: pointer;
    flex:1;
}

button:hover {
    background-color: black;
}