*{
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
}

.custom-container{
    padding: 50px 80px;
}

.product-section .main-container{
    display: flex;
    gap: 60px;
    margin-left: 50px;
}

.product-container{
    width: 50%;
}

.product-section .text-container{
    width: 30%;
    padding-left: 60px;
    padding-top: 30px;
    box-shadow: 0 0 8px 0 #BBBBBB; 
    height: 420px;
    padding-right: 30px;
}

.product-container .other-images{
    margin-left: 70px;
    margin-top: 50px;
}

.product-container .other-images img{
    margin-left: 24px;
    border-radius: 10%;
    width: 90px;
    height: 90px;
}
.product-container .main-image img{
    width: 460px;
    height: 345px;
    margin-left: 50px;
    margin-top: 20px;
}

.text-container .head{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 24px;
}

.kg{
    margin: 16px 0;
}

.stocks{
    margin: 30px 0;
}

.quantity{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 32px;
}

.product-section .text-container .buttons{
    display: flex;
    gap: 16px;
}

.quantity button{
    border: none;
    width: 28px;
    height: 28px;
    font-size: 20px;
    border-radius: 50%;
    background-color: F4F4F4; 
    color: 444444; 
    text-align: center; 
    cursor: pointer;
}

.quantity h4{
    margin-right: 15px;
}

.product-section .text-container .buttons .cart{
  width: auto;
  padding: 12px 48px;
  background-color: black;
  text-align: center;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.product-section .text-container .buttons .list{
  width: auto;
  padding: 12px 48px;
  background-color: white;
  text-align: center;
  border-radius: 5px;
  color: black;
  cursor: pointer;
  border: 1px solid black;
  font-weight: 700;
  position: relative;
  padding-right: 60px;
}

.product-section .text-container .image img{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.product-section .text-container .text h4{
    font-size: 24px;
    margin-bottom: 5px;
}

.product-section .text-container .buttons .list::after{
    content: "";
    background-image: url(./img/heart.png);
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    background-size: cover;
}

/* description */
.description-section .text{
    box-shadow: 0 0 8px 0 #BBBBBB; 
    padding: 40px;
    padding-top: 20px;
    margin-bottom: 20px;
}

.description-section p{
    margin-top: 20px;
}

.description-section .rating{
    display: flex;
    align-items: center;
    gap: 50px;
}

.description-section .rating .star-btn{
    width: auto;
    padding: 8px 30px;
    background-color: black;
    text-align: center;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.description-section .stars{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
}

.description-section .stars img{
    width: 35px;
    height: 35px;
}

.comment-section .custom-container{
    padding-top: 0;
}

.comment-section .comment{
    box-shadow: 0 4px 8px 0 #BBBBBB; 
    padding: 40px;
    margin-top: 20px;
}

.comment span{
    font-weight: bold;
}

.review-container{
    display: flex;
    margin-top: 50px;
    align-items: center;
    gap: 40px;
    justify-content: space-between;
    box-shadow: 0 4px 8px 0 #BBBBBB; 
    padding: 40px;
}
 
.add-review .add-btn{
    width: auto;
    padding: 10px 30px;
    background-color: #5AB84B;
    text-align: center;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.review{
    width: 90%;
}

.add-review{
    width: 20%;
}

textarea{
    width: 90%;
    padding: 20px;
    margin-left: 40px;
    background-color: #ECECEC;
    border: none;
}

.more-products-section .heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 40px;
}

.more-products-section .heading a{
    text-decoration: none;
    color: #FF187C;
    margin-top: 10px;
}

.more-products-section .item-container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.more-products-section .item-container .item{
    width: 20%;
    border: 1px solid #DDDDDD;
    padding: 20px;
    border-radius: 10px;
    padding-bottom: 30px;
}

.more-products-section .item-container .image-container{
    width: 130px;
    height: 140px;
}

.more-products-section .item-container img{
    width: 100%;
}

 .item .button{
    margin-top: 30px
}

 .item h5{
    margin-top: 8px;
    margin-bottom: 16px;
}

.item .add-btn{
     width: auto;
    padding: 8px 50px;
    background-color: black;
    text-align: center;
    border-radius: 5px;
    color: white;
    cursor: pointer;  
}

.item .text{
    margin-left: 10px;
}