header {
    background-color: #f5f5f5;
    color: #000000;
    padding: 10px 20px;
    height: 70px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-icons {
    display: flex;
    align-items: center;
    padding-top: 15px;
}

.icons {
    margin-right: 10px;
}

.nav-icons .user {
    display: flex;
    align-items: center;
    space-x-2;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f7f6;
}

.sidebar {
    width: 200px;
    background-color: #fff;
    padding: 20px;
    padding-left: 0;
}
